.city {
  &__building {
    background-color: black;
    border: 2px solid;

    &--tall {
      width: 10vw;
      height: 30%;
    }
  
    &--medium {
      width: 15vw;
      height: 25%;
    }
  
    &--short {
      width: 12vw;
      height: 20%;
    }
  }
}
