.info {
    max-width: 20em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0.1em solid #ccc;
    border-radius: 1.2em;
    font-size: 1rem;
    color: #333;
    position: absolute;
    top: 10%;
    left: 10%;
    box-shadow: 0 1em 3em rgba(0, 0, 0, 0.2);

     &__2{
      max-width: 20em;
      padding: 1em;
      background-color: rgba(255, 255, 255, 0.9);
      border: 0.1em solid #ccc;
      border-radius: 1.2em;
      font-size: 1rem;
      top: 110vh;
      left: 25vw;
      color: #333;
      position: absolute;
      box-shadow: 0 1em 3em rgba(0, 0, 0, 0.2);
      z-index: 1;
     }
  }
  
  /* Optional hover effect */
  .info:hover {
    background-color: rgba(240, 248, 255, 0.95); /* slight color change on hover */
    border-color: #7ec8e3;
  }

  .person-ordering {
    width: 100%;
    position: absolute;
    animation: slideInLeft 2s ease-out forwards;
    opacity: 0; /* Start hidden */
  }
  
  /* The animation */
  @keyframes slideInLeft {
    from {
      transform: translateX(-100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .post-office {
    width: 30%;
    position: absolute;
    top: 130%;
    left: 25%;
    z-index: 1;
  }

 /* First package (pops up and fades away) */
.package {
  position: absolute;
  width: 15%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 1; 
  z-index: 5;
}
  

  
  



  
  

  
  
  
  
  